@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap');
@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.submitButton {
    background-color: #4FA76E !important;
    font-family: "Roboto" !important;
    width: 50%;
    padding: 15px 30px;
    color: white;
    font-size:16px;
    border: 1px solid #ddd;
    height: 70px;
}

.clear {
    margin-top:10px;
    justify-content: center;
    display: flex;
}
.mc-field-group {
    padding: 10px 0;
    clear: both;
    background: none;
    border: 0 none;
    overflow: visible;
}
.textField {
    font-family: 'Merriweather' !important;
    background: #fff;
    border-radius: 2px;
    color: black;
    display: block;
    font-size:16px;
    float:none;
    border: 1px solid #ccc;
    width:100%;
    line-height:1.3;
    padding: 6px 10px;
    height:50px;

}
.formText {
    font-size: 20px !important;
    display: block;
    font-family: Roboto;
    font-weight: 700;
}

.formMailChimp {
    padding:20px;
}
#firstContainer {
  background-image: url("../img/office.jpg") !important;
  background-color: #cccccc;
  background-size: cover;
 
}

#secondContainer {
  background-color: #F0F0F0;
}

#fourthContainer {
  background-color : #EBF4EF; 
;  
}

.greenHeadings {
  color: #4FA76E;
  font-size: 45px !important;
  font-family: 'Montserrat' !important;
  font-weight:200;
  
}

.imgLyte {
  max-width: 200px;

}
.imgIcon {
  max-width: 90px;
  max-height: 90px;
  padding: 10px;
}


.text-gray {
    color: #999;
}

.imgZY {
  border-radius: 50%;
  max-width: 30%; 
}


body {
  font-family: 'Merriweather' !important;
}


table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 0px !important;
}

@media (min-width: 992px) {
  .masthead {
  padding-bottom: 0rem !important;
  } 
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.line {
    border: medium solid #b9dcc6;
    border-width: 0px 0px 0px 5px;
    height: 80%
}
.line2 {
    margin-left:-9%;
    margin-top:-5%;
}

.linewidth2 {
  width:130%;
  padding-bottom:10%;
}
.container2p {
  padding-top:5%;
  padding-bottom:5%;
  padding-left:20px;
  font-size:23px;
  vertical-align: center;
  font-family: "Roboto";
}

div.wpforms-container-full .wpforms-form input[type=submit], div.wpforms-container-full .wpforms-form button[type=submit], div.wpforms-container-full .wpforms-form .wpforms-page-button {
  background-color: #4FA76E !important;
  font-family: 'Roboto' !important;
  width:50%;
}

div.wpforms-container-full .wpforms-form .wpforms-field-label{
  padding:5px !important;
  font-size:20px !important;
  font-family: "Roboto" !important;
}

div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.wpforms-container-full .wpforms-form input[type=text], div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select, div.wpforms-container-full .wpforms-form textarea {
  height: 60px !important;
}

.spaced {
  padding-right:2% !important;
  padding-left: 2% !important;
}

.spacedleft {
  margin-left:-3% !important;
}

#fifthContainer {
 background-color: #324F3E; 
}

#terms {
  color: #809086 !important;
  font-family: "Roboto";
  line-height:1;
  font-size:13px;
}

.whoCanUseIt2 {
	font-size:23px;
	font-family:Roboto;
	padding-right:25%;
}

@media (max-width: 1000px) {
  .mcalc .mcalc-main, .mcalc .mcalc-values {
    z-index: 0 !important;
    position: relative !important;
  }
  .line {
    border-width: 0px;
  }
  .leftPadding {
    padding-left:0% !important;
    align-items: left;
    text-align:center;
    padding-top:10%;
  }
  .line2 {
    margin:0%;
  }
  .linewidth2 {
    width:100%;
  }
  .whoCanUseIt {
    text-align:center;
  }
  .whoCanUseIt2 {
    padding:0% !important;
  }

  #secondContainer {

	padding-left:0% !important;
	padding-right:0% !important;
  }


	.spaced {
	  padding-right:0% !important;
	  padding-left: 0% !important;
	  text-align: center !important;
	}

	.spacedleft {
	  margin-left:0% !important;
	}

	#fourthContainer {
		align-items: center !important;
	}

	.mcalc .mcalc-half, .mcalc .mcalc-full, .mcalc .wpmc-submit, .mcalc input[type=email] {
		width: auto !important;
	}

	#firstContainer {
		padding-left:5% !important;
		padding-right:5% !important;
	}

	.mcalc-main {
		padding:5% !important;
	}

}

.label {
  font-family: "Montserrat";
}

#heading1 {
	font-size:45px;
	font-family: Montserrat; 
	padding-right:30px; 
	font-weight:500;
}

#secondContainer {
	padding-top:10%;
	padding-left:5%;
	padding-right:10%;
}

.nameCard {
	font-size:22px;
	line-height:1;
	font-family: Roboto;
}

.mcalc-half {
	padding-left: 5% !important;
	padding-right: 5% !important;
}

.mcalc-dollar {
  background: transparent;
  font-family:Roboto; 
  color:white;
  font-weight:100;
}

.mcalc input[type=text], .mcalc select {
  margin: 0 0 30px;
  background: transparent;
  box-shadow: 0 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  padding:0px;
  border-radius: 0px;
  font-size:1.2em;
  width: 100%;
  height:40px;
  line-height:40px;
  position: relative;
  box-sizing:border-box;
  padding-left:50px;
}

.mcalc i {
  position: absolute;
  font-size:1.2em;
  z-index:9;
  font-style:normal;
  line-height: 38px;
  height:40px;
  left: -20px;
  width:50px;
  text-align:right;
}