/*
Theme Name: SweetHeat
Theme URI: https://athemes.com/theme/sweetheat
Author: aThemes
Author URI: https://athemes.com
Description: Sweetheat is a modern looking business theme meant for companies and individuals that want to have a strong online presence. Features include a clean design, multiple options for building your front page, custom colors, Google Fonts, page templates and much more.
Version: 1.06
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sweetheat
Tags: two-columns, three-columns, right-sidebar, custom-colors, custom-background, custom-header, custom-menu, featured-images, sticky-post, theme-options, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 SweetHeat is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

*/

		
/* ---------------------------------------------------------------------- */
/*  Reset & Clearfix
/* ---------------------------------------------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,and,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}del{text-decoration:line-through}hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}mark{background-color:#ffffb3;font-style:italic}input,select{vertical-align:middle}ins{background-color:red;color:white;text-decoration:none}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;}
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0}* html .clearfix,:first-child+html .clearfix{zoom:1}


/* ---------------------------------------------------------------------- */
/*  General
/* ---------------------------------------------------------------------- */

body {
	margin:0;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:15px;
	line-height:24px;
	color:#aaa;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	background-color: #fff;
}

p {
	margin-bottom:15px;
}

p a {
	color:#333;
	font-weight: 700;
}

p strong {
	color:#333;
}

li p {
	margin:0;
}

a {
	color:#333;
	-webkit-transition:color .3s;
	   -moz-transition:color .3s;
		-ms-transition:color .3s;
		 -o-transition:color .3s;
			transition:color .3s;
}

a:hover {
	color:#50a6c2;
}


h1,h2,h3,h4,h5,h6 {
	color:#111;
	margin-bottom:15px;
	font-family: 'Open Sans Condensed', sans-serif;
}


h1 {
	font-size:44px;
	line-height:48px;
	font-weight:100;
}

h2 {
	font-size:36px;
	line-height:40px;
	font-weight:100;
}

h3 {
	font-size:30px;
	line-height:38px;
	text-transform:uppercase;
}

h4 {
	font-size:20px;
	line-height:24px;
}

h5 {
	font-size:18px;
	line-height:24px;
	text-transform: uppercase;
}

h6 {
	font-size:14px;
	text-transform:uppercase;
}

::-moz-selection { 
	background-color:#50a6c2; 
	color:#ffffff;
}

::selection {
	background-color:#50a6c2;
	color:#ffffff;
}
table {
	width: 100%;
	margin-bottom: 20px;
}
th {
	background-color: #F8F8F8;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 0px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 20px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 20px;
}
/* ---------------------------------------------------------------------- */
/*  Inputs
/* ---------------------------------------------------------------------- */

input[type="text"],
input[type="email"],
.search_widget input {
	width:100%;
	height:50px;
	padding:5px 15px;
	background:#fff;
	border:3px solid #eee;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size:16px;
	color:#333;
	outline:none;
	-webkit-font-smoothing:antialiased;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-border-radius:0;
	   -moz-border-radius:0;
	   		border-radius:0;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	   		box-shadow:none;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}


textarea {
	display:block;
	width:100%;
	max-width:100%;
	height:220px;
	padding:20px;
	background:#fff;
	border:3px solid #eee;
	font-weight: 700;
	font-size:16px;
	color:#333;
	resize:none;
	outline:none;
	overflow:auto;
	-webkit-font-smoothing:antialiased;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-border-radius:0;
	   -moz-border-radius:0;
	   		border-radius:0;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	   		box-shadow:none;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
			box-sizing:border-box;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
.search_widget input:focus { border-color:#ccc; }

::-webkit-input-placeholder {
   color:#ddd;
}

:-moz-placeholder {
   color:#ddd;  
}

::-moz-placeholder {
   color:#ddd;  
}

:-ms-input-placeholder {  
   color:#ddd;  
}

form label {
	display:inline-block;
	margin:0 0 10px;
	font-weight: 700;
	text-transform:uppercase;
	font-size:16px;
	color:#333;
	cursor:pointer;
}

form label span {
	font-size:20px;
	color:#50a6c2;
}

.input-block {
	margin-bottom:25px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}


/* ---------------------------------------------------------------------- */
/*  Header
/* ---------------------------------------------------------------------- */

.site-content {
	margin-top: 40px;
}
.page-template-page_front-page-php .site-content {
	margin-top: 0;
}
.logo a {
	font-size:26px;
	font-weight:normal;
	color:#fff;
	-webkit-transition:color .3s;
	   -moz-transition:color .3s;
	        transition:color .3s;
}
.site-description {
	color: #fff;
	font-size: 18px;
}
.logo a:hover {
	color: #cccccc;
}
.main-nav ul {
	list-style: none;
	margin: 0;
}
.main-nav ul li {
	float:left;
	position:relative;
}

.main-nav ul li a {
	padding:21px 20px;
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition:background .3s;
	   -moz-transition:background .3s;
	        transition:background .3s;
}

.main-nav a:hover,
.main-nav a.active,
.main-nav > ul > li:hover > a  {
	background-color:#1d2730;
}

.main-nav ul ul {
	position:absolute;
	background-color:#1d2730;
	width:200px;
	opacity:0;
	z-index:99;
	display: none;
	-webkit-transition-property:opacity, visibility;
       -moz-transition-property:opacity, visibility;
           -transition-property:opacity, visibility;
    -webkit-transition-duration: .25s, .25s;
	   -moz-transition-duration: .25s, .25s;
	        transition-duration: .25s, .25s;
}
.main-nav ul ul ul {
	left: 100%;
	top: 0;
}

.main-nav ul li:hover > ul {
	opacity:1;
	display: block;
}

.main-nav ul ul li {
	display:inline-block;
	width:100%;
	text-align: left;
}

.main-nav ul li li a {
	display:block;
	width:100%;
	padding:8px 15px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}

.main-nav ul li li a:hover {
	background-color: #50a6c2;
}

.mobile-nav .slicknav_menu > a {
	text-transform: uppercase;
	font-size:14px;
	color: #fff;
	font-weight: 700;
}

.slicknav_nav {
	background: #000;
	width:100%;
	position: absolute;
	left:0;
	top:66px;
	border-top:1px solid #212121;
	text-align: center;
	z-index:9999;
	margin: 0;
	list-style: none;
}
.sub-menu {
	margin: 0;
	list-style: none;	
}
.slicknav_menutxt {
	font-size: 26px;
}
.slicknav_nav li {
	border-bottom:1px solid #212121;
}

.slicknav_parent ul li:last-child {
	border-bottom:3px solid #50a6c2;
}

.slicknav_nav > li a {
	display: inline-block;
	color: #6c767e;
	text-transform: uppercase;
	font-size:14px;
	font-weight: 700;
	transition:0.3s all;
}

.slicknav_nav > li > a {
	padding:10px 8px;
	width:100%;
}

.slicknav_nav li:hover > a,
.slicknav_nav li:hover > a > a {
	color:#fff;
}

.slicknav_parent ul li a {
	padding:10px 8px;
	width:100%;
}

.slicknav_parent ul li a:hover {
	color:#fff;
}
.masonry {
	list-style: none;
}

/* ---------------------------------------------------------------------- */
/*  Main Slider
/* ---------------------------------------------------------------------- */

#main-slider {
	margin-bottom:80px;
}

#main-slider .ls-l {
	color:#fff;
}

#main-slider .buttons a {
	width:180px;
	height:40px;
	font-size:14px;
	font-weight: 700;
	display:inline-block;
	text-transform:uppercase;
	line-height:40px;
	text-align:center;
	color:#fff;
	background-color: #50a6c2;
	border:3px solid #50a6c2;
}

#main-slider .buttons .services {
	background:none;
	border:3px solid #fff;
	color:#fff;
	margin-left:26px;
}

#main-slider .buttons .about:hover {
	background:#333;
	border:3px solid #333;
	color:#fff;
}

#main-slider .buttons .services:hover {
	background:#fff;
	color:#111;
}



#main-slider .slide-1 h4 {
	font-weight:400;
	color:#aaa;
	text-align:center;
}

#main-slider .slide-2 h1 {
	border-bottom:4px solid #eee;
	width:500px;
	text-align:center;
	padding-bottom:30px;
	text-transform:uppercase;
}



#main-slider .slide-2 p {
	color:#aaa;
	text-transform:uppercase;
	letter-spacing:1px;
	line-height:30px;
}


/* ---------------------------------------------------------------------- */
/*  Our Services
/* ---------------------------------------------------------------------- */

#services {
	margin-bottom:15px;
}

#services .service {
	margin-bottom:40px;
}

#services .service h4 {
	font-size:22px;
	margin-bottom:15px;
	text-transform:uppercase;
}
#services .service h4,
#services .service h4 a {
	color: #111;
	font-weight: 400;
}

/* ---------------------------------------------------------------------- */
/*  Our Work
/* ---------------------------------------------------------------------- */
.grid {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

#our-work .grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	max-height: 350px;
	background-color: #1d2730;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid figure a:hover {
	color: #fff;
}
.grid figure h3 {
	font-weight: 300;
	color:#fff;
	letter-spacing: 1px;
	max-width:80%;
	text-wrap:avoid;
}

.grid figure h3,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	font-weight:500;
}

figure.work img {
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	max-width: none;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

figure.work figcaption {
	top: auto;
	bottom: 0;
	height: 50%;
	text-align: left;
}

figure.work h3,
figure.work p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

figure.work h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.work p {
	color: rgba(255,255,255,0.6);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

figure.work:hover img {
	opacity: 0.5;
}

figure.work:hover p {
	opacity:1;
}

figure.work:hover img,
figure.work:hover h3,
figure.work:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.work:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}

.filter-wrapper {
	/*padding:15px 0;*/
	background:#000;
}

.filter-nav {
	text-align:center;
}

.filter-nav li {
	display:inline-block;
}

.filter-nav li a {
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
	font-weight: 700;
	padding:15px 20px;
}

.filter-nav li a:hover {
	background-color: #50a6c2;
}

.isotope-item {
 	z-index: 2;
}
 
.isotope-hidden.isotope-item {
 	pointer-events: none;
	z-index: 1;	
}
 
.isotope,
.isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	 -moz-transition-duration: 0.8s;
	      transition-duration: 0.8s;
}
 
.isotope {
	-webkit-transition-property: height, width;
	 -moz-transition-property: height, width;
	      transition-property: height, width;
}
 
.isotope .isotope-item {
  -webkit-transition-property: top, left, opacity;
     -moz-transition-property: top, left, opacity;
      -ms-transition-property: top, left, opacity;
       -o-transition-property: top, left, opacity;
          transition-property: top, left, opacity;
}

/* ---------------------------------------------------------------------- */
/*  Recent Posts
/* ---------------------------------------------------------------------- */

#recent-posts .grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: auto;
	background: #1d2730;
	text-align-color: center;
	cursor: pointer;
}
.no-thumb {
	position: relative !important;
}
#recent-posts figure.post img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	max-width: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#recent-posts figure.post:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#recent-posts figure.post figcaption {
	text-align: left;
}

#recent-posts figure.post h3 {
	position: relative;
	overflow: hidden;
	padding: 0 0 0.5em;
}

#recent-posts figure.post h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

#recent-posts figure.post:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#recent-posts figure.post p {
	padding: 1em 0;
	color:rgba(255,255,255,0.6);
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

#recent-posts figure.post:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/* ---------------------------------------------------------------------- */
/*  Our Testimonials
/* ---------------------------------------------------------------------- */

#our-testimonials {
	text-align:center;
}

#our-testimonials .quote {
	font-weight:400;
	text-transform:none;
	margin-top:6%;
}

#our-testimonials .author {
	font-weight:300;
	margin-top:5%;
}

#our-testimonials .author .company {
	display:block;
}

#our-testimonials .testimonials-wrapper {
	margin-bottom:50px;
}

#our-testimonials .view-more {
	font-weight:600;
	text-transform:uppercase;
	-webkit-transition:color .3s;
	   -moz-transition:color .3s;
	        transition:color .3s;
}

#our-testimonials .view-more:hover {
	color:rgba(0,0,0,.6);
}
.testimonials {
	overflow: auto;
}
.testimonials-wrapper .flex-direction-nav li {
  	position: absolute;
  	height: 100%;
  	width: 40px;
  	top: 0;
}
.flex-direction-nav {
	list-style: none;
}
.testimonials-wrapper .flex-direction-nav li:first-child {
  	left: 0;
}
 
.testimonials-wrapper .flex-direction-nav li:last-child {
  	right: 0;
}
 
.testimonials-wrapper .flex-direction-nav li a {
	position: absolute;
	top: 70%;
  	white-space: nowrap;
  	-webkit-transition: background-color 0.2s;
  	   -moz-transition: background-color 0.2s;
  	        transition: background-color 0.2s;
}
.testimonials-wrapper .flex-direction-nav li a.flex-next {
	right: 0;
}
.testimonials-wrapper .flex-direction-nav li a.flex-prev {
	left: 0;
}
.testimonials-wrapper .flex-direction-nav li a::before, .testimonials-wrapper .flex-direction-nav li a::after {
  	font-size: 50px;
  	text-shadow: 0 0 1px #000;
  	color: #fff;
}
 
.testimonials-wrapper .flex-direction-nav li a.flex-next::before {
  	font-family: Fontawesome;
  	content: '\f105';
}
 
.testimonials-wrapper .flex-direction-nav li a.flex-prev::before {
  	font-family: Fontawesome;
  	content: '\f104';	
}

.close-btn {
  	position: fixed;
  	display: block;
  	width: 40px;
  	height: 40px;
  	top: 10px;
  	right:10px;
  	overflow: hidden;
  	text-indent: 100%;
  	white-space: nowrap;
}

.close-btn::before, .close-btn::after {
  	content: '';
  	position: absolute;
  	display: inline-block;
  	width: 2px;
  	height: 24px;
  	top: 8px;
  	left: 19px;
  	background-color: #fff;
}

.close-btn:hover::before, .close-btn:hover::after {
	background-color:#ddd;
}

.close-btn::before {
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	-o-transform: rotate(45deg);
  	transform: rotate(45deg);
}

.close-btn::after {
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	-ms-transform: rotate(-45deg);
  	-o-transform: rotate(-45deg);
  	transform: rotate(-45deg);
}

.testimonials-all {
  	position: fixed;
  	top: 0;
  	left: 0;
  	height: 100%;
  	width: 100%;
  	background-color:rgba(0,0,0,.9);
  	z-index: 11;
  	visibility: hidden;
  	opacity: 0;
  	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
  	   -moz-transition: opacity .3s 0s, visibility 0s .3s;
  	        transition: opacity .3s 0s, visibility 0s .3s;
}

.testimonials-all .testimonials-all-wrapper {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: auto;
}

.testimonials-all .testimonials-all-wrapper > ul {
   width: 90%;
   max-width: 1170px;
   margin: 4em auto;
}

.testimonials-all .testimonials-all-wrapper > ul:after {
   content: "";
   display: table;
   clear: both;
}

.testimonials-all .testimonials-item {
   margin-bottom: 2em;
   opacity: 0;
   -webkit-transform: translate3d(0, 0, 0) scale(0.4);
      -moz-transform: translate3d(0, 0, 0) scale(0.4);
      -ms-transform: translate3d(0, 0, 0) scale(0.4);
       -o-transform: translate3d(0, 0, 0) scale(0.4);
          transform: translate3d(0, 0, 0) scale(0.4);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: -webkit-transform .3s, opacity .3s;
      -moz-transition: -moz-transform .3s, opacity .3s;
           transition: transform .3s, opacity .3s;
}

.testimonials-all p {
   position: relative;
   background: #79b6e4;
   color: white;
   padding: 2em;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   line-height: 1.4;
   border-radius: 0.25em;
   margin-bottom: 1em;
}

.testimonials-all p::after {
   content: '';
   position: absolute;
   top: 100%;
   left: 2em;
   height: 0;
   width: 0;
   border: 8px solid transparent;
   border-top-color: #79b6e4;
}

.testimonials-all .author {
   text-align: left;
   margin-left: 1.5em;
   font-weight:300;
   color:#fff;
}

.testimonials-all .author .company {
	display:block;
	font-weight:600;
}

.testimonials-all.is-visible {
   visibility: visible;
   opacity: 1;
   -webkit-transition: opacity .3s 0s, visibility 0s 0s;
      -moz-transition: opacity .3s 0s, visibility 0s 0s;
           transition: opacity .3s 0s, visibility 0s 0s;
}

.testimonials-all.is-visible .testimonials-item {
  	opacity: 1;
  	-webkit-transform: translate3d(0, 0, 0) scale(1);
       -moz-transform: translate3d(0, 0, 0) scale(1);
      	-ms-transform: translate3d(0, 0, 0) scale(1);
       	 -o-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
}

@media only screen and (min-width: 768px) {
   .testimonials-all .testimonials-item {
    	width: 46%;
    	margin: 0 2% 3em;
  	}
   .testimonials-all .author {
     	margin-left: 1em;
   	}
}
@media only screen and (min-width: 1170px) {
  	.testimonials-all .testimonials-item {
     	width: 30%;
    	margin: 0 1.6666% 3em;
  	}
}


/* ---------------------------------------------------------------------- */
/*  Our Clients
/* ---------------------------------------------------------------------- */
.clients {
	list-style: none;
}
.clients li {
	float:left;
	width:24%;
	margin: 0 1% 20px 0;
}
.clients li:nth-of-type(4n+1),
.team-member:nth-of-type(3n+1) {
	clear: left;
}
.clients li img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscalerayscale");
	filter: gray;
	-webkit-filter: grayscale(100%);
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	transition: all .2s;
}

.clients li img:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
}

/* ---------------------------------------------------------------------- */
/*  Notice Bar
/* ---------------------------------------------------------------------- */

#notice-bar {
	display:block;
	padding:15px 0;
	background-color: #50a6c2;
}

#notice-bar h4 {
	margin:15px 0;
	text-transform:uppercase;
	color:#fff;
}

#notice-bar .btn {
	float:right;
	margin:5px 0;
	width:158px;
	height:43px;
	font-size:16px;
	font-weight: 700;
	text-align:center;
	line-height:40px;
	text-transform:uppercase;
	color:#fff;
	border-radius:8px;
	border:3px solid #fff;
	-webkit-transition:all .2s;
	   -moz-transition:all .2s; 
	        transition:all .2s;
}

#notice-bar .btn:hover {
	background:#fff;
	color:#111;
}


/* ---------------------------------------------------------------------- */
/*  Footer
/* ---------------------------------------------------------------------- */

#footer {
	padding-top:40px;
	background:#000;
	clear: both;
}

#footer .footer-nav {
	width:100%;
	margin-top:0;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #212121;
}

.footer-nav ul li {
	float:left;
	position:relative;
}

.footer-nav ul li a {
	padding:0 10px;
	display:inline-block;
	font-size:14px;
	font-weight: 700;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition:color .3s;
	   -moz-transition:color .3s;
	        transition:color .3s;
}

.footer-nav a:hover {
	color:#ccc;
}

#footer .copyright,
#footer .back-to-top {
	font-size:14px;
	font-weight: 700;
	text-transform:uppercase;
	color:#6c767e;
}

#footer .back-to-top:hover {
	color:#fff;
}


/* ---------------------------------------------------------------------- */
/*  Page Header
/* ---------------------------------------------------------------------- */

.page-header {
	margin-bottom:60px;
}

#page-header h2 {
	text-transform:uppercase;
	margin-top:40px;
	display:block;
}

#page-header h2 span {
	margin-bottom:0;
	width:100%;
}

#page-header h4 {
	font-weight:400;
	color:#aaa;
	margin-top:20px;
	margin-left:20px;
	display:inline-block;
}


/* ---------------------------------------------------------------------- */
/*  Blog
/* ---------------------------------------------------------------------- */

#blog .entry {
	margin-bottom:v80px;
}

.pagination {
	padding-top:20px;
	margin-bottom:70px;
	text-align:center;
	border-top:4px solid #eee;
}

.pagination div {
	display:inline-block;
}

.entry-title {
	text-transform:uppercase;
	margin-bottom:25px;
	border-bottom:4px solid #eee;
	padding-bottom:13px;
}

#blog .entry-title a {
	color:#111;
	-webkit-transition:color .2s;
	   -moz-transition:color .2s;
	        transition:color .2s;
}

#blog .entry-title a:hover {
	color:#50a6c2;
}

#blog .entry-image {
	max-width:100%;
	margin-bottom:20px;
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px;
}

#blog .continue {
	color:#333;
	display:inline-block;
	font-weight: 700;
	margin-bottom:25px;
}

#blog .continue:hover {
	color:#50a6c2;
}

#blog .entry-meta {
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	margin-bottom:40px;
}

#blog .entry-meta a {
	color:#aaa;
	font-weight:600;
}

#blog .entry-meta a:hover {
	color:#333;
}

#blog .entry-body {
	float:left;
	width:100%;
}

#blog .slider {
	float:left;
	width:100%;
	margin-bottom:20px;
	position:relative;
	overflow:hidden;
}

#blog .slider img {
	max-width:100%;
	border-radius:8px;
}

#blog .flex-direction-nav {
	*height: 0;
}

#blog .flex-direction-nav a  { 
	text-decoration:none; 
	display: block; 
	width: 40px; 
	height: 40px; 
	margin: -20px 0 0; 
	position: absolute; 
	top: 50%; 
	z-index: 9999; 
	overflow: hidden; 
	cursor: pointer; 
	background: rgba(0,0,0,.5);
	color: rgba(0,0,0,0.8); 
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	border-radius:5px; 
	-webkit-transition: all .3s; 
	   -moz-transition: all .3s; 
	        transition: all .3s; 
}

#blog .flex-direction-nav a:hover {
	background: rgba(0,0,0,.8);
}

#blog .flex-direction-nav .flex-prev {
	left: -80px;
}
#blog .flex-direction-nav .flex-next {
	right: -80px;
	text-align: right;
}

#blog .slider:hover .flex-direction-nav .flex-prev {
	left: 20px;
}
#blog .slider:hover .flex-direction-nav .flex-next {
	right: 20px;
	text-align: right;
}
 
#blog .flex-direction-nav li a::before, #blog .flex-direction-nav li a::after {
  	content: '';
  	position: absolute;
  	left: 50%;
  	top:45px;
  	width: 2px;
  	height: 13px;
  	background-color: white;
  	z-index:10;
}

#blog .flex-direction-nav .flex-prev:after, #blog .flex-direction-nav .flex-prev:before {
	left:44%;
}
 
#blog .flex-direction-nav li a::before {
  	transform: translateY(-35px) rotate(45deg);
}
 
#blog .flex-direction-nav li a::after {
  	transform: translateY(-27px) rotate(-45deg);
}
 
#blog .flex-direction-nav li:last-child a::before {
  	transform: translateY(-35px) rotate(-45deg);
}
 
#blog .flex-direction-nav li:last-child a::after {
  	transform: translateY(-27px) rotate(45deg);
}

.entry.quote {
	padding-bottom:25px;
}

.entry.quote .quote {
	background:#000;
	text-align:center;
	padding:49px 50px 40px 50px; 
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px;
}

.entry.quote h3 {
	color:#fff;
}

.entry.quote .entry-quote-author p {
	margin:0;
	margin-top:10px;
	font-size:15px;
	text-transform:uppercase;
	letter-spacing:1px;
}

.entry.link {
	display:inline-block;
	padding-bottom:25px;
}

.entry.link a {
	float:left;
	width:100%;
	background:#000;
	text-align:center;
	padding:49px 50px;
	-webkit-transition: all .3s; 
	   -moz-transition: all .3s; 
	        transition: all .3s;
	-webkit-border-radius:8px;
	   -moz-border-radius:8px;
	        border-radius:8px;
}

.entry.link a:hover {
	background-color:#50a6c2;
}

.entry.link .entry-link-url p {
	margin:0;
	color:#aaa;
	font-size:18px;
}

.entry.link h3,
.entry.link a:hover .entry-link-url p {
	color:#fff;
}

.share-social {
	display:inline-block;
}

.share-social li {
	float:left;
	margin-right:6px;
}

.share-social a {
	width:30px;
	height:30px;
	background:#eee;
	border-radius:4px;
	display:inline-block;
	text-align:center;
	-webkit-transition: all .3s; 
	   -moz-transition: all .3s; 
	        transition: all .3s;
}

.share-social a .fa {
	margin-bottom:0;
	line-height:30px;
	color:#fff;
}

.share-social .facebook {
	background:#3B5999;
}

.share-social .twitter {
	background:#55acee;
}

.share-social .google {
	background:#dd4b39;
}

.share-social .facebook:hover {
	background:#355089;
}

.share-social .twitter:hover {
	background:#4c9ad6;
}

.share-social .google:hover {
	background:#c64333;
}


/* ---------------------------------------------------------------------- */
/*  Comments
/* ---------------------------------------------------------------------- */


.comments-area {
	margin-bottom: 60px;
}
.comments-title {
	margin: 0 0 30px 0;
	font-size: 24px;
}
.comments-area ol {
	list-style: none;
}
.comments-area ol {
	padding: 0;
}
.comments-area .children {
	padding-left: 20px;
}
.comments-area .fn {
	color: #505050;
}
.comment-author .avatar {
	position: absolute;
}
.comment-meta .fn {
	text-transform: uppercase;
}
.comment-author .fn,
.comment-metadata {
	margin-left: 80px;
}
.comment-metadata {
	font-size: 12px;
	margin-bottom: 30px;
}
.comment-body {
	padding: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.reply {
	text-align: right;
}
.comment-reply-link {
	background-color: #fff;
	font-size: 12px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;	
}
a.comment-reply-link {
	color: #505050;
	text-decoration: none;
}
a.comment-reply-link:hover {
	color: #000;
}
.comment-meta a {
	color: #c7c7c7;
}
.comments-area a.url {
	color: #505050;
	text-decoration: underline;
}
.bypostauthor {
}

/* ---------------------------------------------------------------------- */
/*  Widgets
/* ---------------------------------------------------------------------- */

.widget {
	margin-bottom:60px;
}
.widget-title {
	font-size:24px;
	font-weight: 400;
}
.so-panel .widget-title,
.panel .widget-title {
	font-weight:400;
	font-size: 38px;
	margin-bottom:0;
	display: table;
	margin: 0 auto;
	padding-bottom:12px;
	margin-bottom:40px;
	border-bottom:4px solid #eeeeee;	
}
.widget h6 {
	text-align:left;
}

.widget p:last-child {
	margin-bottom:0;
}

.widget a {
	color:#bbb;
	line-height:30px;
	font-weight:normal;
}

.widget a:hover{
	color:#333;
}

.widget_tags ul li {
	float:left;
	
}

.widget_tags a {
	float:left;
	margin:0 5px 5px 0;
	padding:3px 9px;
	background-color:#000;
	font-weight: 700;
	color:#fff;
	text-transform:uppercase;
	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
	        transition:all .3s;
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
}

.widget_tags a:hover {
	background-color:#50a6c2;
}

.widget_work {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

.widget_work figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 100%;
	height: 200px;
	background-color: #1d2730;
	text-align: center;
	cursor: pointer;
}

.widget_work figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.widget_work figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.widget_work figure figcaption::before,
.widget_work figure figcaption::after {
	pointer-events: none;
}

.widget_work figure figcaption,
.widget_work figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget_work figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.widget_work figure h3 {
	font-size:20px;
	font-weight: 300;
	color:#fff;
	letter-spacing: 1px;
}

.widget_work figure h3,
.widget_work figure p {
	margin: 0;
}

.widget_work figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
	font-weight:500;
}

.widget_work figure img {
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

.widget_work figure figcaption {
	top: auto;
	bottom: 30px;
	height: 50%;
	text-align: left;
}

.widget_work figure h3,
.widget_work figure p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.widget_work figure h3 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.widget_work figure p {
	color: rgba(255,255,255,0.6);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.widget_work figure:hover img {
	opacity: 0.5;
}

.widget_work figure:hover p {
	opacity:1;
}

.widget_work figure:hover img,
.widget_work figure:hover h3,
.widget_work figure:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.widget_work figure:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


/* ---------------------------------------------------------------------- */
/*  Contact Us
/* ---------------------------------------------------------------------- */

#google-map {
	height:400px;
	display: block;
	margin-top: 0 !important;
	margin-bottom: 40px !important;
}

.contact-info a {
	font-weight:normal;
	color:#aaa;
}

.contact-info a:hover {
	color:#50a6c2;
}

#contact-form .notification {
	display:none;
	float:left;
	padding:8px 20px;
	margin-bottom:20px;
	font-size:14px;
	font-weight: 700;
	color:#ffffff;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	   		border-radius:3px;
}

#contact-form .notification.success { background:#a2c257; }
#contact-form .notification.error   { background:#333; }

#contact-form .notification .icon {
	display:inline-block;
	margin:0 20px 0 0;
	margin-bottom:0;
	font-family:'WebSymbolsRegular';
	font-size:inherit;
	line-height:1;
}

#contact-form .notification [class^="icon-"] {
	margin-bottom:0;
	margin-right:20px;
}

#contact-form label.error {
	width:190px;
	height:30px;
	position:absolute;
	top:-11px;
	right:14px;
	z-index:9999;
	background-color:#50a6c2;
	text-align:center;
	font-weight: 700;
	line-height:30px;
	font-size:14px;
	color:#fff;
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
	   		border-radius:3px;
}

#contact-form label.error:after {
	content:'';
	width:0;
	height:0;
	position:absolute;
	bottom:-12px;
	left:15px;
	border-color:#50a6c2 transparent transparent transparent;
	border-style:solid;
	border-width:6px;
}




/* ---------------------------------------------------------------------- */
/*  Single Work
/* ---------------------------------------------------------------------- */

.single-work {
	width:100%;
	float:left;
}

.single-work .project {
	float:left;
	height:600px;
}

.single-work .project img  {
	max-width:100%;
	display:inline-block;
}

.work-images {
	width:100%;
	float:left;
	display:block;
}

.work-images li {
	width:50%;
	float:left;
}

.work-images img {
	max-width:100%;
	float:left;
	margin-bottom:0;
}

.work-bar {
	margin-bottom:40px;
	background:#000;
	height:50px;
	display:inline-block;
	width:100%;
}

.work-bar .site-link {
	font-size:14px;
	font-weight: 700;
	text-transform:uppercase;
	color:#fff;
	padding:13px 20px;
	display:inline-block;
	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
		-ms-transition:all .3s;
	   	 -o-transition:all .3s;
			transition:all .3s;
}

.work-bar .site-link:hover {
	background-color: #50a6c2;
}

.work-nav {
	float:right;
	height:50px;
}

.work-nav li {
	float:left;
	height:50px;
}

.work-nav li a {
	display:inline-block;
	width:50px;
	height:50px;
	position:relative;
	-webkit-transition:all .3s;
	   -moz-transition:all .3s;
		-ms-transition:all .3s;
	   	 -o-transition:all .3s;
			transition:all .3s;
}

.work-nav li a:hover {
	background-color:#50a6c2;
}

.work-nav li .all {
	background:url(../images/sprite.png) no-repeat 0 0;

}

.work-nav li .next::before, .work-nav li .next::after {
  	content: '';
  	position: absolute;
  	left: 50%;
  	top: 0;
  	width: 2px;
  	height: 13px;
  	background-color: white;
  	z-index:10;
}
 
.work-nav li .next::before {
  	transform: translateY(14px) rotate(45deg);
}
 
.work-nav li .next::after {
  	transform: translateY(22px) rotate(-45deg);
}
 
.work-nav li .next::before {
  	transform: translateY(14px) rotate(-45deg);
}
 
.work-nav li .next::after {
  	transform: translateY(22px) rotate(45deg);
}

.work-nav li .prev::before, .work-nav li .prev::after {
  	content: '';
  	position: absolute;
  	left: 45%;
  	top: 0%;
  	width: 2px;
  	height: 13px;
  	background-color: white;
  	z-index:10;
}
 
.work-nav li .prev::before {
  	transform: translateY(14px) rotate(-45deg);
}
 
.work-nav li .prev::after {
  	transform: translateY(22px) rotate(45deg);
}
 
.work-nav li .prev::before {
  	transform: translateY(14px) rotate(45deg);
}
 
.work-nav li .prev::after {
  	transform: translateY(22px) rotate(-45deg);
}

.work-info {
	border-left:4px solid #eee;
	border-right:4px solid #eee;
}

.work-info .content p {
	margin-bottom:0;
}

.work-info .meta {
	text-align:right;
	text-transform:uppercase;
}

.work-info .meta li {
	line-height:34px;
}


/* ---------------------------------------------------------------------- */
/*  404 Page
/* ---------------------------------------------------------------------- */

#error-page {
	padding-top:130px;
	text-align:center;
}

#error-page h1 {
	font-weight:600;
}

#error-page p {
	font-size:18px;
}


/* ---------------------------------------------------------------------- */
/*  Team Page
/* ---------------------------------------------------------------------- */

.team-member {
	text-align:center;
	margin-bottom:60px;
	float: left !important;
}

.team-member .team-image {
	width:60%;
	margin:0 auto 20px;
}

.team-member .team-image img {
	max-width:100%;
	border-radius:500px;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/*--------------------------------------------------------------
Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
/*--------------------------------------------------------------
Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* ---------------------------------------------------------------------- */
/*  Shortcodes - Blockquotes
/* ---------------------------------------------------------------------- */

blockquote {
  font-size:24px;
  font-weight: 700;
  color:#333;
  padding-left:50px;
  padding:20px 0 20px 50px;
  margin:30px 0 40px;
  border-left:4px solid #ddd;
}

#blog blockquote {
  padding: 0 0 0 50px;
}

/* ---------------------------------------------------------------------- */
/*  Shortcodes - Typography
/* ---------------------------------------------------------------------- */

.dropcap {
  display:inline-block;
  margin:0 8px 5px 0;
  width:30px;
  height:30px;
  background-color: #50a6c2;
  font-size:16px;
  font-weight:600;
  color:#fff;
  text-align:center;
  line-height:30px;
}

.dropcap.dark {
  background-color:#333;
}

.dropcap.light {
  background-color:#ddd;
}

.dropcap.round {
  -webkit-border-radius:50px;
     -moz-border-radius:50px;
          border-radius:50px;
}


/* ---------------------------------------------------------------------- */
/*  Shortcodes - Code Blocks
/* ---------------------------------------------------------------------- */

pre,
code {
  float:left;
  width:100%;
  position:relative;
  padding:20px;
  margin:0 0 20px;
  font-family:'Courier';
  font-size:13px;
  line-height:20px;
  word-wrap:break-word;
  color:#777;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
      box-sizing:border-box;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}

pre:after {
  content:attr(data-language);
  position:absolute;
  top:1px;
  right:8px;
  text-transform:uppercase;
  letter-spacing:-0.6px;
  font-weight:600;
  font-size:12px;
  color:#333;
}


/* ---------------------------------------------------------------------- */
/*  Shortcodes - Info box
/* ---------------------------------------------------------------------- */

.info-box {
  margin-bottom:30px;
  padding:20px 40px 20px 20px;
  color:#fff;
  background-color: #50a6c2;
  position:relative;
}

.info-box p {
  margin-bottom:0;
}

.info-box.success {
  background:#a2c257;
}

.info-box.error {
  background:#c64333;
}

.info-box.light {
  background:#ccc;
}

.info-close {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top:-20px;
    right:10px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.info-close::before, .info-close::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 2px;
    height: 24px;
    top: 8px;
    left: 19px;
    background-color: #fff;
}

.info-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* ---------------------------------------------------------------------- */
/*  Shortcodes - Buttons
/* ---------------------------------------------------------------------- */

button,
.button,
input[type="submit"],
input[type="reset"] {
  display:inline-block;
  position:relative;
  padding:10px 35px;
  margin-right:10px;
  margin-bottom:10px;
  background-color: #50a6c2;
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform:uppercase;
  font-weight: 700;
  font-size:16px;
  color:#fff;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
  -webkit-appearance:none;
  -moz-appearance:none;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
        box-shadow:none;
  -webkit-transition:background-color .3s;
     -moz-transition:background-color .3s;
      -ms-transition:background-color .3s;
       -o-transition:background-color .3s;
          transition:background-color .3s;
}

button:hover,
.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color:#333;
  color:#fff;
}

button.disabled,
.button.disabled,
input[type="submit"].disabled,
input[type="reset"].disabled {
  background:#eee;
  color:#bbb;
  cursor:auto;
  pointer-events:none;
}

button.dark,
.button.dark,
input[type="submit"].dark,
input[type="reset"].dark {
  background-color:#333;
}

button.dark:hover,
.button.dark:hover,
input[type="submit"].dark:hover,
input[type="reset"].dark:hover {
  background-color:#50a6c2;
}

button.light,
.button.light,
input[type="submit"].light,
input[type="reset"].light {
  background-color:#ccc;
}

button.light:hover,
.button.light:hover,
input[type="submit"].light:hover,
input[type="reset"].light:hover {
  background-color:#333;
}

.button.small {
    padding:5px 25px;
    font-size:14px;
}

.button.large {
    padding:14px 40px;
    font-size:20px;
}

.button.rounded,
input[type="submit"].rounded,
input[type="reset"].rounded {
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
}

.button[class^="icon-"]::before, .button[class*=" icon-"]::before {
  margin:0 10px 0 0;
  display:inline-block;
  font-family:'FontAwesome';
  font-size:inherit;
  font-style:normal;
}

.button.icon-right[class^="icon-"]::before, .button.icon-right[class*=" icon-"]::before {
  float:right;
  margin:0 0 0 10px;
}


/* ---------------------------------------------------------------------- */
/*  Extras
/* ---------------------------------------------------------------------- */
.site-content {
    margin-top: 40px;
}
.page-template-page_front-page-php .site-content {
    margin-top: 0;
}
.site-banner {
	vertical-align: top;
}
.service:nth-of-type(3n+1) {
	clear: left;
}
.icon-round {
  background-color:#50a6c2;
  -webkit-border-radius:250px;
  -moz-border-radius:250px;
  border-radius:250px;
  width:90px;
  height:90px;
  color:#fff;
  line-height:90px;
  display: block;
  margin: 0 auto 20px;
}
.icon-3x {
  font-size: 42px;
}
.panel-row-style-full {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	overflow: hidden;
}
.panel-row-style {
	display: block;			    
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.panel-grid {
	margin: 0 !important;
}
.panel-grid-cell {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}
.widget_sweetheat_portfolio,
.widget_sweetheat_latest_news {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.work-page {
	margin-top: 0 !important;
	margin-bottom: 60px !important;
}
.widget_layerslider_widget {
	margin-top: -60px !important;
	margin-bottom: -60px !important;
}

.gmnoprint img {
	max-width: none;
}
.row .row {
	margin: 0;
}
.vcard {
	margin: 0;
	padding: 0;
	border: 0;
}
.entry-meta span {
	margin-right: 5px;
}
.entry-meta span:after {
	content: ' -';
}
.entry-meta span:last-of-type:after {
	content: '';
}

@media screen and (max-width: 1024px) {
	.panel-row-style {
		background-attachment: scroll !important;
		background-position: center top !important;
		-webkit-background-size: auto !important;
		-moz-background-size: auto !important;
		background-size: auto !important;
	}
}


/*Small screens*/
@media only screen {
	.grid figure {
		width:100%;
	}


} /* Define mobile styles */

@media screen and (max-width: 780px) {
	#main .panel-grid-cell {
		padding: 30px 30px !important;
	}
	.widget_layerslider_widget {
		margin-top: -30px !important;
		margin-bottom: -30px !important;
	}
}
@media only screen and (max-width: 40em) {
	.mobile-nav {
		margin:19px 0;
	}
	.comments-area .children {
		padding-left: 0;
	}	
	.work-images li,
	#our-work .grid figure,
	#recent-posts .grid figure {
		width:100%;
	}

	.work-info,
	.work-info .meta {
		text-align:center;
	}

	.work-info .meta {
		margin-top:20px;
	}

	#main-slider .buttons .services {
		margin-left:0;
		margin-top:20px;
	}

	#main-slider .slide-1 h1 {
		top:80px !important;
	}

	#main-slider .slide-1 h4 {
		margin-top:60px;
	}

	#main-slider .slide-2 h1 {
		border-bottom:4px solid #eee;
		width:300px;
		top:100px !important;
		text-align:center;
		padding-bottom:30px;
	}

	#page-header h4 {
		margin-left:0;
		width:100%;
	}

	#blog .slider .flex-direction-nav .flex-prev {
		left: 20px;
	}
	#blog .slider .flex-direction-nav .flex-next {
		right: 20px;
	}

	#notice-bar {
		text-align:center;
	}

	#notice-bar h4 {
		margin-bottom:20px;
	}

	#notice-bar .btn {
		float:none;
		display:inline-block;
	}

	#contact-form {
		border-top:4px solid #eee;
		padding-top:30px;
		margin-top:30px;
	}

	#google-map {
		height:250px;
	}

	#footer {
		padding-top:15px;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


/*Medium screens*/
@media only screen and (min-width: 40.063em) {
	#our-work .grid.work-page figure {
		width:50%;
	}
} /* min-width 641px, medium screens */


@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#our-work .grid.work-page figure {
		width:50%;
		height:350px;
	}

	#our-work .grid figure,
	#recent-posts .grid figure {
		width:50%;
	}

	#recent-posts .grid figure {
		width:50%;
	}

	#our-work .grid.work-page figure:nth-child(3) {
		display:inline-block;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
.fullwidth {
	width: 100%;
}
.site-logo {
	max-width: 150px;
}

#wpforms-submit {
	background-color:blue;
}